<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- Fin Sidebar -->

    <!-- Contenido Pagina" -->
    <main class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-9">
                    <h1 class="mb-0">Mantenimieto de Empleado</h1>
                </div>
            </div>
            <hr>
            <section>
                <form #empleadoForm="ngForm" (ngSubmit)="onSubmit(empleadoForm)">
                    <input type="hidden" class="form-control" name="$id" #$id="ngModel" [(ngModel)]="empleadoService.selectEmpleado.$id">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nombre Completo" name="nombre" #nombre="ngModel" [(ngModel)]="empleadoService.selectEmpleado.nombre">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Direccion" name="direccion" #direccion="ngModel" [(ngModel)]="empleadoService.selectEmpleado.direccion">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" placeholder="DUI" name="dui" #dui="ngModel" [(ngModel)]="empleadoService.selectEmpleado.dui">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" placeholder="NIT" name="nit" #nit="ngModel" [(ngModel)]="empleadoService.selectEmpleado.nit">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" placeholder="Telefono" name="telefono" #telefono="ngModel" [(ngModel)]="empleadoService.selectEmpleado.telefono">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="cargo">Cargo</label>
                            <select class="form-control" name="cargo" #cargo="ngModel" [(ngModel)]="empleadoService.selectEmpleado.cargo">
                                <option value="Veterinario/a" selected>Veterinario/a</option>
                                <option value="Enfermero/a">Enfermero/a</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="reset" class="btn btn-dark ml-1" (click)="resetForm(empleadoForm)">Limpiar</button>
                </form>
            </section>

            <!-- Tabla -->
            <section class="py-3">
                <div class="row">
                    <div class="col-12 my-3">
                        <div class="card rounded-0">
                            <div class="card-header bg-light">
                                <h6 class="font-weight-bold mb-0">Tabla de Datos</h6>
                            </div>
                            <div class="card-body">
                                <table class="table table-hover table-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">DUI</th>
                                            <th scope="col">NIT</th>
                                            <th scope="col">Direccion</th>
                                            <th scope="col">Teléfono</th>
                                            <th scope="col">Cargo</th>
                                            <th scope="col">Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let empleado of empleadoList">
                                            <td>{{empleado.nombre}}</td>
                                            <td>{{empleado.dui}}</td>
                                            <td>{{empleado.nit}}</td>
                                            <td>{{empleado.direccion}}</td>
                                            <td>{{empleado.telefono}}</td>
                                            <td>{{empleado.cargo}}</td>
                                            <td>
                                                <div class="btn-group btn-group-sm" role="group"
                                                    aria-label="Basic example">
                                                    <button type="button" (click)="editarEmpleado(empleado)"
                                                        class="btn btn-primary" data-toggle="modal"
                                                        data-target="#ModalEdit">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button type="button" (click)="borrarEmpleado(empleado.$id)"
                                                        class="btn btn-dark">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Fin Tabla -->
        </div>
    </main>
    <!-- Fin Contenido Pagina" -->
</div>