<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- Fin Sidebar -->
    <main class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-9">
                    <h1 class="mb-0">Expediente Mascotas</h1>
                </div>
            </div>
            <hr>
            <article class="grid_16">
                <form action="#" id="contact-form" method="post">
                  <fieldset>
                    <label class="name"> <span>Nombre:</span>
                      <input type="text">
                    </label>
                    <label class="email"> <span>Email:</span>
                      <input type="email">
                    </label>
                    <label class="expediente"> <span>Expediente:</span>
                      <textarea></textarea>
                    </label>
                    <div class="btns"> <a class="link">Limpiar</a> <a class="link">Enviar</a> </div>
                  </fieldset>
                </form>
            </article>
</div>    