<div class="row">
    <div class="page-wrapper chiller-theme toggled">
   <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
       <i class="fas fa-bars"></i>
   </a>
    <app-sidebar></app-sidebar>
    <main class="page-content">
 
 <app-sidebar></app-sidebar>
 <div class="container">
     <div class="row">
       <div class="col-md-5">
 
         <app-facturas></app-facturas> 
 
       </div>
       <div class="col-md-7 text-center">
           <img width="90" alt="Angular Logo" src="../../../assets/img/siberian-husky.png">
           <hr>
           <br>
           <br>
           <div> 
           <app-factura-list></app-factura-list>
          </div>
         </div>
     </div>
 </div>
 </main>
 </div>
 
 </div>
 © 2020 GitHub, Inc.
