<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- Fin Sidebar -->

<!-- !PAGE CONTENT! -->
<div class="therichpost-main" style="margin-left:250px">
    <!-- Push down content on small screens -->
    <div class="therichpost-hide-large" style="margin-top:83px"></div>
    
    <!-- Top header -->
    <header class="therichpost-container therichpost-xlarge">
        <h1 class="mb-0">Productos</h1>
  
    </header>
    <!-- Image header -->
    <div class="therichpost-display-container therichpost-container">
      <img src="assets/shopimages/productos.jpg" alt="Jeans" style="width:100%">
      <div class="therichpost-display-topleft therichpost-text-white" style="padding:24px 48px">
        <h1 class="therichpost-jumbo therichpost-hide-small">QUIERELOS COMO ELLOS</h1>
        <h1 class="therichpost-jumbo therichpost-hide-small">TE QUIEREN</h1>
        <p><a href="#jeans" class="therichpost-button therichpost-black therichpost-padding-large therichpost-large">COMPRAR</a></p>
        <h1 class="therichpost-hide-small">CALIDAD ASEGURADA</h1>
      </div>
    </div>
    <div class="therichpost-container therichpost-text-grey" id="jeans">
      <p>16 items activos</p>
    </div>

    <!-- Product grid --------------------------------------------------------------->

    <div class="therichpost-row therichpost-grayscale">
        <div class="therichpost-col l3 s6">
            <div class="therichpost-container">
              <div class="therichpost-display-container">
                <img src="assets/shopimages/productos1.jpg" style="width:100%">
                <div class="therichpost-display-middle therichpost-display-hover">
                  <button class="therichpost-button therichpost-black">Buy now <i class="fa fa-shopping-cart"></i></button>
                </div>
              </div>
              <p>Pedigree Vital Adulto<br><b>$10.99</b></p>
            </div>
            <div class="therichpost-container">
              <div class="therichpost-display-container">
                <img src="assets/shopimages/productos2.jpg" style="width:100%">
                <div class="therichpost-display-middle therichpost-display-hover">
                  <button class="therichpost-button therichpost-black">Buy now <i class="fa fa-shopping-cart"></i></button>
                </div>
              </div>
              <p>Dogui Carne Asada<br><b>$9.99</b></p>
            </div>
        </div>

        <div class="therichpost-col l3 s6">
          <div class="therichpost-container">
            <div class="therichpost-display-container">
              <img src="assets/shopimages/productos3.jpg" style="width:100%">
              <div class="therichpost-display-middle therichpost-display-hover">
                <button class="therichpost-button therichpost-black">Buy now <i class="fa fa-shopping-cart"></i></button>
              </div>
            </div>
            <p>DogChow Adulto<br><b>$10.99</b></p>
          </div>
          <div class="therichpost-container">
            <div class="therichpost-display-container">
              <img src="assets/shopimages/productos4.jpg" style="width:100%">
              <div class="therichpost-display-middle therichpost-display-hover">
                <button class="therichpost-button therichpost-black">Buy now <i class="fa fa-shopping-cart"></i></button>
              </div>
            </div>
            <p>Peine DobleCara<br><b>$5.99</b></p>
          </div>
        </div>

        <div class="therichpost-col l3 s6">
          <div class="therichpost-container">
            <div class="therichpost-display-container">
              <img src="assets/shopimages/productos5.jpg" style="width:100%">
              <div class="therichpost-display-middle therichpost-display-hover">
                <button class="therichpost-button therichpost-black">Buy now <i class="fa fa-shopping-cart"></i></button>
              </div>
            </div>
            <p>Peine DobleCara Sencillo<br><b>$3.99</b></p>
          </div>
          <div class="therichpost-container">
            <div class="therichpost-display-container">
              <img src="assets/shopimages/productos6.jpg" style="width:100%">
              <div class="therichpost-display-middle therichpost-display-hover">
                <button class="therichpost-button therichpost-black">Buy now <i class="fa fa-shopping-cart"></i></button>
              </div>
            </div>
            <p>Shampoo Oatmeal&Aloe<br><b>$5.99</b></p>
          </div>
        </div>
 
        <div class="therichpost-col l3 s6">
            <div class="therichpost-container">
              <div class="therichpost-display-container">
                <img src="assets/shopimages/productos7.jpg" style="width:100%">
                <div class="therichpost-display-middle therichpost-display-hover">
                  <button class="therichpost-button therichpost-black">Buy now <i class="fa fa-shopping-cart"></i></button>
                </div>
              </div>
              <p>Shampoo Trixie Color<br><b>$4.99</b></p>
            </div>
            <div class="therichpost-container">
              <div class="therichpost-display-container">
                <img src="assets/shopimages/productos8.jpg" style="width:100%">
                <div class="therichpost-display-middle therichpost-display-hover">
                  <button class="therichpost-button therichpost-black">Buy now <i class="fa fa-shopping-cart"></i></button>
                </div>
              </div>
              <p>Collar Doble Rojo<br><b>$19.99</b></p>
            </div>
          </div>
    </div>



    <div class="therichpost-row therichpost-grayscale">
        <div class="therichpost-col l3 s6">
            <div class="therichpost-container">
              <div class="therichpost-display-container">
                <img src="assets/shopimages/productos1.jpg" style="width:100%">
                <div class="therichpost-display-middle therichpost-display-hover">
                  <button class="therichpost-button therichpost-black">Buy now <i class="fa fa-shopping-cart"></i></button>
                </div>
              </div>
              <p>Pedigree Vital Adulto<br><b>$10.99</b></p>
            </div>
            <div class="therichpost-container">
              <div class="therichpost-display-container">
                <img src="assets/shopimages/productos2.jpg" style="width:100%">
                <div class="therichpost-display-middle therichpost-display-hover">
                  <button class="therichpost-button therichpost-black">Buy now <i class="fa fa-shopping-cart"></i></button>
                </div>
              </div>
              <p>Dogui Carne Asada<br><b>$9.99</b></p>
            </div>
        </div>

        <div class="therichpost-col l3 s6">
          <div class="therichpost-container">
            <div class="therichpost-display-container">
              <img src="assets/shopimages/productos3.jpg" style="width:100%">
              <div class="therichpost-display-middle therichpost-display-hover">
                <button class="therichpost-button therichpost-black">Buy now <i class="fa fa-shopping-cart"></i></button>
              </div>
            </div>
            <p>DogChow Adulto<br><b>$10.99</b></p>
          </div>
          <div class="therichpost-container">
            <div class="therichpost-display-container">
              <img src="assets/shopimages/productos4.jpg" style="width:100%">
              <div class="therichpost-display-middle therichpost-display-hover">
                <button class="therichpost-button therichpost-black">Buy now <i class="fa fa-shopping-cart"></i></button>
              </div>
            </div>
            <p>Peine DobleCara<br><b>$5.99</b></p>
          </div>
        </div>

        <div class="therichpost-col l3 s6">
          <div class="therichpost-container">
            <div class="therichpost-display-container">
              <img src="assets/shopimages/productos5.jpg" style="width:100%">
              <div class="therichpost-display-middle therichpost-display-hover">
                <button class="therichpost-button therichpost-black">Buy now <i class="fa fa-shopping-cart"></i></button>
              </div>
            </div>
            <p>Peine DobleCara Sencillo<br><b>$3.99</b></p>
          </div>
          <div class="therichpost-container">
            <div class="therichpost-display-container">
              <img src="assets/shopimages/productos6.jpg" style="width:100%">
              <div class="therichpost-display-middle therichpost-display-hover">
                <button class="therichpost-button therichpost-black">Buy now <i class="fa fa-shopping-cart"></i></button>
              </div>
            </div>
            <p>Shampoo Oatmeal&Aloe<br><b>$5.99</b></p>
          </div>
        </div>
 
        <div class="therichpost-col l3 s6">
            <div class="therichpost-container">
              <div class="therichpost-display-container">
                <img src="assets/shopimages/productos7.jpg" style="width:100%">
                <div class="therichpost-display-middle therichpost-display-hover">
                  <button class="therichpost-button therichpost-black">Buy now <i class="fa fa-shopping-cart"></i></button>
                </div>
              </div>
              <p>Shampoo Trixie Color<br><b>$4.99</b></p>
            </div>
            <div class="therichpost-container">
              <div class="therichpost-display-container">
                <img src="assets/shopimages/productos8.jpg" style="width:100%">
                <div class="therichpost-display-middle therichpost-display-hover">
                  <button class="therichpost-button therichpost-black">Buy now <i class="fa fa-shopping-cart"></i></button>
                </div>
              </div>
              <p>Collar Doble Rojo<br><b>$19.99</b></p>
            </div>
          </div>
    </div>
    
    <!-- End page content -->
  </div>
    
</div>