<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- Fin Sidebar -->

    <!-- Contenido Pagina" -->
    <main class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-9">
                    <br>
                    <br>
                   
                    <h1 class="display-4 text-align">Bienvenido al Sistema</h1> 
                </div>
                
            </div>
            <br>
            <br>
            <br>
            


            <section class="bg-mix">
                <div class="card rounded-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3 d-flex stat my-3">
                                <div class="mx-auto">
                                    <h6 class="text-dark">Citas</h6>                                 
                                    <img width="75" src="../../assets/cita.png" routerLink="/cita" routerLinkActive="active">
                                </div>
                            </div>

                            <div class="col-3 d-flex stat my-3">
                                <div class="mx-auto">
                                    <h6 class="text-dark">Clientes</h6>
                                    <img width="75" src="../../assets/cliente.png" routerLink="/cliente" routerLinkActive="active">
                                    
                                </div>
                            </div>
                            <div class="col-3 d-flex stat my-3">
                                <div class="mx-auto">
                                    <h6 class="text-dark">Mascotas</h6>
                                    <img width="75" src="../../assets/mascotas.png" routerLink="/mascotas" routerLinkActive="active">
                                    
                                </div>
                            </div>
                            <div class="col-3 d-flex my-3">
                                <div class="mx-auto">
                                    <h6 class="text-dark">Servicios</h6>
                                    <img width="75" src="../../assets/servicios.png" routerLink="/servicios" routerLinkActive="active">
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="col-3 d-flex my-3">
                                <div class="mx-auto">
                                    <h6 class="text-dark">Productos</h6>
                                    <img width="75" src="../../assets/productos.png" routerLink="/productos" routerLinkActive="active">
                                    
                                </div>
                            </div>
                            <div class="col-3 d-flex my-3">
                                <div class="mx-auto">
                                    <h6 class="text-dark">Ventas</h6>
                                    <img width="75" src="../../assets/ventas.png" routerLink="/ventas" routerLinkActive="active">
                                   
                                </div>
                            </div>
                            <div class="col-3 d-flex my-3">
                                <div class="mx-auto">
                                    <h4 class="text-dark">Empleados</h4>
                                    <img width="75" src="../../assets/empleados.png" routerLink="/empleados" routerLinkActive="active">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

           
        </div>
    </main>
    <!-- Fin Contenido Pagina" -->
</div>